@model INFOION.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <div class="wrapper">
        <div class="news">  
            <dl class="row">
                <dd class = "col-sm-10">
                    <h2>@Html.DisplayFor(model => model.Name)</h2>
                </dd>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Content)
                </dd>
                <hr/>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Country.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Publisher)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Publisher.LastName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Source)
                </dt>
                <dd class = "col-sm-10">
                    <a href="@Html.DisplayFor(model => model.Source.Adress)">@Html.DisplayFor(model => model.Source.Name)</a>
                </dd>
            </dl>
       </div>
    </div>
</div>
<div>
    <div class="wrapper1">
        <div class="news">
            <h4> Список Коментариев </h4>
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            User
                        </td>
                        <td>
                            Comment
                        </td>
                    </tr>
                </thead>
            <tbody>
            @foreach(var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <a asp-action="Index" asp-controller = "Comments" asp-route-id="@Model?.Id">AddComment</a>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
